.job-card {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    transform: translateY(10px);
    animation: fadeInUp 0.4s ease forwards;
}

.job-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(10px);
    }
}